#project-wrapper #gravityDodge .tldr-container {
    margin-bottom: calc(-50% + 2rem);
}
@media (max-width: 991.98px) {
    #project-wrapper #gravityDodge .tldr-container {
        margin-bottom: -3rem;
    }
}

.competences {
    background-color: #444;
}