#project-wrapper #stilexHuminex .tldr-container {
    margin-bottom: calc(-50% + 2rem);
}
@media (max-width: 991.98px) {
    #project-wrapper #stilexHuminex .tldr-container {
        margin-bottom: -3rem;
    }
}

.stilexHuminex-links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.stilexHuminex-links .link {
    margin: 0 .75rem;
}
.stilexHuminex-links a i {
    color: #222 !important;
    font-size: 3rem;
}
.stilexHuminex-links .link span {
    font-weight: 100;
    font-size: .9rem;
}
.competences {
    background-color: #444;
}